<% variables.each do |type| %>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="flat" name="toShow" value="Timestamp" id="date_time"> Date and Time
      </label>
    </div>
  </div>
<% end %>
