<p>Hi <%= @user.username %>, <br></p>
<p>
  You have successfully signed up to track-mypower.tk,
  your username is: <%= @user.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to @url, @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
<p>Yours sincerely,</p>
<p>Track-MyPower Team</p>
