<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading" style="text-shadow: 1px 1px #444444;"><%= header_locals[:title] %></h1>
        <hr>
        <p style="text-shadow: 1px 1px #444444; color: #ffffff;">Now you can measure all kind of variables in your HRE System. Anytime, from Anywhere! Just sign up and go clean, go <b id ="go-green" style="color: #17a689  ">green</b>!</p>
        <%= link_to header_locals[:button_text], signup_path, class: "page-scroll btn btn-primary btn-xl" %>
    </div>
</div>
