<!-- Loading META-INFO -->
<%= render 'layouts/meta_tags' %>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Main Head -->
  <%= render 'layouts/main_head' %>
  <!-- Custom Theme Style -->
  <link href="/css/custom.css" type="text/css" rel="stylesheet">
  <link href="/css/creative2.css" type="text/css" rel="stylesheet">
</head>
<body class="login">
  <div>
      <%= yield %>
  </div>
</body>
</html>
